@font-face {
    font-family: 'Rambla';
    src: url(Rambla-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Rambla-Bold';
    src: url(Rambla-Bold.ttf) format('truetype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'FugazOne';
    src: url(FugazOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url(TitilliumWeb-Regular.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
}